<h1>編集</h1>
<% form_for @feature, "/features/#{@feature.id}" do |f| %>
  <%= f.text_field_block :name, caption: '名前' %>
  <%= f.label :deadline_year, caption: '期限' %>
  <%= f.select :deadline_year, options: ['2013', '2014'] %>
  <%= f.select :deadline_month, options: ['1', '2'] %>
  <%= f.select :deadline_day, options: ['1', '2'] %>
  <%= f.label :no_deadline, caption: '期限なし' %>
  <%= f.check_box :no_deadline %>
  <%= f.submit_block '修正！' %>
<% end %>

