<% content_for :assets do %>
  <%= stylesheet_link_tag 'draggable' %>
  <%= javascript_include_tag 'draggable' %>
<% end %>
<h1><%= @feature.name %></h1>
<p>期限: <span id="deadline"><%= @feature.deadline ? @feature.deadline.strftime("%Y-%m-%d") : 'なし' %></span></p>
<button id="show_feature_form">編集</button>
<% form_for @feature, "/features/#{@feature.id}.json", id: 'feature', style: 'display: none;' do |f| %>
  <div id="errors" style="color: red;"></div>
  <%= f.text_field_block :name, caption: '名前' %>
  <%= f.label :deadline_year, caption: '期限' %>
  <%= f.select :deadline_year, options: year_collection %>
  <%= f.select :deadline_month, options: month_collection %>
  <%= f.select :deadline_day, options: day_collection %>
  <%= f.label :no_deadline, caption: '期限なし' %>
  <%= f.check_box :no_deadline %>
  <%= f.submit_block '修正！' %>
<% end %>

<h2>タスク</h2>
<form method="POST" action="/tasks">
  <%= csrf_token_field %>
  <%= hidden_field_tag :feature_id, value: @feature.id %>
  <div>
    <label for="task_name">タスク名</label>
    <input type="text" id="task_name" name="task[name]">
  </div>
  <div>
    <label for="task_point">ポイント</label>
    <input type="text" id="task_point" name="task[point]">
  </div>
  <div>
    <input type="submit" value="作成！">
  </div>
</form>

<div id="tasks">
  <div id="todo" class="task_status_block">
    <h3>todo</h3>
    <% @feature.tasks.each do |task| %>
      <div class="task" id="<%= task.id %>" draggable="true">
        <%= task.name %>
        <%= task.point %>
      </div>
    <% end %>
  </div>
  <div id="doing" class="task_status_block">
    <h3>doing</h3>
  </div>
  <div id="done" class="task_status_block">
    <h3>done</h3>
  </div>
</div>

